<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h3>{{ loginMode ? 'Login' : 'Sign up'}}</h3>
        <hr>
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div>
        <div *ngIf="isLoading" style="text-align: center">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>
            <div>
                <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">{{ loginMode ? 'Login' : 'Sign Up' }}</button> |
                <button type="button" class="btn btn-secondary" (click)="switchMode()">{{ loginMode ? 'Switch to Sign Up' : 'Switch to Login' }}</button>
            </div>
        </form>
    </div>
</div>